*.log
target/
target/*
*.orig
build
build/*
dist
dist/*
private
private/*
release/
release/*
*.iml
*.ipr
*.iws
*.iml
.idea
.idea/*
.classpath
.project
nbactions.xml
.settings/
.settings/*
*.bak
dsl/egi/src/test/scala/gridscale/egi/
.bsp/
